<h2>Danh sách truyện tranh</h2>

@if (stories.length === 0) {
  <p>Không có truyện nào</p>
} @else {

<table border="1" cellpadding="10" cellspacing="0">
  <thead>
    <tr>
      <th>STT</th>
      <th>Hình ảnh</th>
      <th>Tên truyện</th>
      <th>Tác giả</th>
      <th>Lượt xem</th>
    </tr>
  </thead>

  <tbody>

  @for (story of stories; track story.title; let i = $index) {

    <tr>
      <td>{{ i + 1 }}</td>

      <td>
        <img [src]="story.image" width="80">
      </td>

      <td>
        {{ story.title }}

        @if (story.views > 90000) {
          <span style="color:red">🔥 HOT</span>
        }
      </td>

      <td>{{ story.author }}</td>

      <td>{{ story.views }}</td>

    </tr>

  }

  </tbody>
</table>

}