<h1>Thêm sản phẩm</h1>

<form [formGroup]="addForm" (ngSubmit)="submitForm()">

  <div>
    <label>Tên sản phẩm</label>
    <input type="text" formControlName="name">

    @if (f['name'].touched && f['name'].invalid) {
      <div style="color:red">
        @if (f['name'].errors?.['required']) {
          <small>Tên sản phẩm là bắt buộc</small>
        }
      </div>
    }
  </div>

  <div>
    <label>Giá sản phẩm</label>
    <input type="number" formControlName="price">

    @if (f['price'].touched && f['price'].invalid) {
      <div style="color:red">
        @if (f['price'].errors?.['required']) {
          <small>Giá là bắt buộc</small>
        }
        @if (f['price'].errors?.['min']) {
          <small>Giá phải lớn hơn 0</small>
        }
      </div>
    }
  </div>

  <div>
    <label>Category</label>
    <input type="text" formControlName="category">
  </div>

  <button type="submit" [disabled]="addForm.invalid">
    {{loading ? 'Đang gửi' : 'Thêm truyện'}}
  </button>

  @if(loading) {
    <p>Đang thêm sản phẩm...</p>
  }

  @if(success) {
    <p style="color: green;"> {{success}} </p>
  }

  @if(error) {
    <p style="color: red;"> {{error}} </p>
  }
</form>