<h2>Thêm truyện</h2>

<form [formGroup]="addForm" (ngSubmit)="submitForm()">
    <div>
        <label for="">Tên truyên</label>
        <input type="text" formControlName="title">
        @if (f['title'].touched && f['title'].invalid) {
            <div style="color: red;">
                @if(f['title'].errors?.['require']){
                    <small>Tên truyện không được để trống!</small>
                }
            </div>
        }
    </div>

    <div>
        <label for="">Tác giả</label>
        <input type="text" formControlName="author">
    </div>

    <div>
        <label for="">Lượt xem</label>
        <input type="number" formControlName="views">
    </div>

    <button type="submit" [disabled]="loading"> {{ loading ? 'Đang gửi' : 'Thêm truyện'}} </button>

    @if (success) {
        <p style="color: green;">{{success}}</p>
    } @if (error) {
        <p style="color: red;">{{error}}</p>
    }
</form>
