<h2>Danh sách sản phẩm</h2>

@if (loading) {
<p>Đang tải dữ liệu...</p>
} @if (error) {
<p style="color: red">{{ error }}</p>
} @if (!loading && products.length === 0) {
<p>Không có truyện nào</p>
} @if (products.length > 0) {
    <table border="1">
         <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Views</th>
            <th>Action</th>
        </tr>
    @for(product of products; track product.id) {
        <tr>
            <td>{{ product.id }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.price }}</td>
            <td>{{ product.views }}
                @if (product.views > 90000) {
                    <span>🔥 HOT</span>
                }
            </td>
            <td>
                <button 
                    (click)="deleteProduct(product.id)"
                    [disabled]="deletingId === product.id">
                    {{ deletingId === product.id ? 'Đang xóa...' : 'Xóa' }}
                </button>
            </td>
        </tr>
    }
    </table>
}